<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiztest1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LinkSeriesActivity"
            android:label="الحلقات" />
        <activity
            android:name=".ServersListActivity"
            android:label="سيرفرات المشاهده" />
        <activity android:name=".FetchServerActivity" />
        <activity
            android:name=".VideoResolutionActivity"
            android:label="اختيار الدقة" />
        <activity
            android:name=".SearchActivity"
            android:label="نتائج البحث" />
        <activity
            android:name=".MainActivity"
            android:label="القائمة الرئيسية">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>